.weekContainer{
    
    display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
}
.salesContainer{
    margin-top: 10px;
}
.stockContainer{
    display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
}
.fieldRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.label {
    font-weight: 600;
    margin-right: 10px;
    color: #2d3748;
    min-width: 120px;
    /* задаём ширину для выравнивания */
}

.inputField,
.selectField {
    flex: 1;
    padding: 8px 12px;
    font-size: 16px;
    border: 1.5px solid #cbd5e0;
    border-radius: 8px;
    transition: 0.2s;
    max-width: 100px;
}

.inputField:focus,
.selectField:focus {
    outline: none;
    border-color: #3182ce;
    box-shadow: 0 0 5px rgba(49, 130, 206, 0.3);
}

.button {
    width: 100%;
    padding: 10px;
    background: #3182ce;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 25px;
}

.button:hover {
    background: #2b6cb0;
}

.result {
    margin-top: 20px;
   
    padding: 12px;
    text-align: center;
    font-weight: 700;
    color: #2f855a;
    background: #f0fff4;
    border: 1px solid #c6f6d5;
    border-radius: 8px;
    font-size: 18px;
}

