.container {
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.switcher {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 30px 0 10px;
}


.customRadio {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
    font-size: 16px;
}


.customRadio input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
}


.customRadio input:checked {
    border-color: #0078d7;
    background-color: #0078d7;
}


.customRadio input:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
}

.inputsRow {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.inputField {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex: 1;
    justify-content: space-between;
}

.inputField span {
    white-space: nowrap;
    font-size: 16px;
    min-width: 80px;
}
.field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin: 15px 0;
}

.input {
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 18px;
    /* flex: 1; */
    width: 200px;
    box-sizing: border-box;
}

.result {
    background: #f5f5f5;
    padding: 14px;
    border-radius: 12px;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    margin: 40px 0;
}